<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item"><a class="nav-link" href="./dashboard.html" title="التقارير"><i class="fas fa-chart-pie fa-fw"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="./orders.html" title="الطلبات"><i class="fas fa-box-open fa-fw"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="./expenses.html" title="المصروفات"><i class="fas fa-file-invoice-dollar fa-fw"></i></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="./projects.html" title="التوريدات"><i class="fas fa-tasks fa-fw"></i></a></li> -->
                <li class="nav-item"><a class="nav-link" href="./receivables.html" title="المستحقات الاجلة"><i class="fas fa-hand-holding-usd fa-fw"></i></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="./recurring.html" title="Recurring Payments"><i class="fas fa-sync-alt fa-fw"></i></a></li> -->
            </ul>
        </div>
    </div>
</nav>
